<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'fonts/icomoon/style.css' %}">

    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

    <!-- Style -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
        crossorigin="anonymous">

    <title>Login</title>
  </head>
  <body>
  <div class="content">
    <div class="container">
      <div class="row justify-content-center">
        <!-- <div class="col-md-6 order-md-2">
          <img src="images/undraw_file_sync_ot38.svg" alt="Image" class="img-fluid">
        </div> -->
        <div class="col-md-6 contents">
          <div class="row justify-content-center">
            <div class="col-md-12">
              <div class="form-block">
                  <div class="mb-4">
                </div>

              <span class="mb-0 text-muted">
                {% if msg %}
                    {{ msg | safe }}
                {% else %}
                    Login page
                {% endif %}
              </span>
                <form  method="post">
                    {% csrf_token %}
                  <div class="form-group first mb-4">
                    <label for="username" id="username-label">Username</label>
                      {{ form.username }}
                  </div>
                  <div class="form-group last mb-4">
                    <label for="password" id="password-label">Password</label>
                    {{ form.password }}
                  </div>

                  {% comment %} <div class="d-flex mb-5 align-items-center">
                    <label class="control control--checkbox mb-0"><span class="caption">Remember me</span>
                      <input type="checkbox" checked="checked"/>
                      <div class="control__indicator"></div>
                    </label>
                    <span class="ml-auto"><a href="#" class="forgot-pass">Forgot Password</a></span>
                  </div> {% endcomment %}

                  <input type="submit" value="Log In" class="btn btn-pill text-white btn-block btn-primary">
                </form>
              </div>
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>


    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>

    <script>
      // Add event listeners to the username and password fields to hide the labels when they have values
      document.addEventListener('DOMContentLoaded', function () {
          var usernameInput = document.getElementById('id_username'); // Assuming 'id_username' is the actual ID of your username input field
          var usernameLabel = document.getElementById('username-label');
          
          var passwordInput = document.getElementById('id_password'); // Assuming 'id_password' is the actual ID of your password input field
          var passwordLabel = document.getElementById('password-label');
  
          function toggleLabelVisibility(input, label) {
              if (input.value.trim() !== '') {
                  label.style.display = 'none';
              } else {
                  label.style.display = 'block';
              }
          }
  
          usernameInput.addEventListener('input', function () {
              toggleLabelVisibility(usernameInput, usernameLabel);
          });
  
          passwordInput.addEventListener('input', function () {
              toggleLabelVisibility(passwordInput, passwordLabel);
          });
      });
  </script>
  </body>
</html>