<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Fonts and Stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'fonts/icomoon/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
        crossorigin="anonymous">

    <title>Register</title>

    <!-- Custom Scripts -->
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var userRoleField = document.querySelector('#id_user_role');
            var eventlistField = document.querySelector('#eventList');
            var eventField = document.querySelector('#eventField');
    
            function toggleEventField() {
                if (userRoleField.value === 'participant') {
                    eventField.style.display = 'block';
                    eventlistField.style.display ="none";

                }else if(userRoleField.value === 'admin') {
                    eventlistField.style.display ="block";
                    eventField.style.display = 'none';

                }
                else {
                    eventlistField.style.display ="none";
                    eventField.style.display = 'none';
                }
            }
    
            toggleEventField(); // Call initially to set the display based on initial value
    
            userRoleField.addEventListener('change', toggleEventField);
        });
    </script>
</head>

<body>
    <div class="content">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6 contents">
                    <div class="row justify-content-center">
                        <div class="col-md-12">
                            <div class="form-block">
                                <span class="mb-0 text">
                                    {% if msg %}
                                    {{ msg | safe }}
                                    {% else %}
                                    Registration page
                                    {% endif %}
                                </span>
                               
                                <form method="post">
                                    {% csrf_token %}
                                    {{ form.username.label_tag }} {{ form.username }}
                                    {{ form.email.label_tag }} {{ form.email }}
                                    {{ form.password1.label_tag }} {{ form.password1 }}
                                    {{ form.password2.label_tag }} {{ form.password2 }}
                                    {{ form.user_role.label_tag }} {{ form.user_role }}
                                    
                                    <div id="eventField" style="display: none;">
                                        {{ form.event.label_tag }} {{ form.event }}
                                    </div>
                                    <div id="eventList" style="display: none;">
                                        {{ event_form.event_list.label_tag }} {{ event_form.event_list }}
                                    </div>
                                
                                    <span class="text-error">{{ form.errors }}</span>
                                    <input type="submit" value="Register" class="btn btn-pill text-white btn-block btn-primary">
                                </form>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
